<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{ title | default("Catan") }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/catan-favicon.ico" type="image/x-icon">
    
    <!-- Core Global CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css?v=16">
    {% block extra_css %}{% endblock %}
    <script src="/js/jquery-2.1.1.js"></script>
    
  </head>
  <body>
    <!-- Dynamic Page-Specific CSS -->
    {% block body_content %}{% endblock %}
    <script src="/js/bootstrap.min.js"></script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
